:root{
    --primary-color:#070F32;
    --secondary-color: crimson;
    --whiteColor: white;   
    --lightGrayColor: #EEEEEE;
    --gap: 3rem; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

h1{font-size: 6rem; text-transform: uppercase;}
h2{font-size: 5.5rem;}
h3{font-size: 5rem;}
h4{font-size: 4.5rem;}
h5{font-size: 4rem;}
h6{font-size: 3.5rem;}

p{
    margin-bottom: 3rem;
}

table{
    min-width: 36rem;
    width: 100%;
    border-collapse: collapse;
}

table caption{
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

table td, table th{
    white-space: nowrap;
    padding: 0.5rem;
    text-align: left;
    border: 0.1rem solid var(--lightGrayColor);
}

tfoot td, thead th{
    background: var(--lightGrayColor);
}

.mainBG{
    background-image: url('../imgs/confetti.svg');
    background-size: cover;
    background-position: center center;
    color: var(--whiteColor);
}

.whiteBG{
    background: var(--whiteColor);
}

.mainContent{
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.menu{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--lightGrayColor);
}

.menuContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1{
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a{
    color: inherit;
}

.menu ul{
    list-style: none;
    display: flex;
    color: var(--primary-color);
}

.menu ul li a{
    display: block;
    color: inherit;
    padding: 2rem;
    font-size: 1.8rem;
    position: relative;
}

.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after{
    width: 50%;
    left: 25%;
}

.menuSpacing{
    height: 6.5rem;
}

.homeContent{
    position: relative;
    /* top: -8rem; */
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.homeText, .homeImg{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

h2{
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

.homeImg img{
    max-width: 100%;
    height: auto;
}

.top3Content{
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.gridOneContent{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.gridMain{
    margin-bottom: 1rem;
}

.gridDescription{
    padding-bottom: 5rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: gridCounter;
}

.grid h3{
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.grid h3::before{
    counter-increment: gridCounter;
    content: counter(gridCounter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -3rem;
    left: -2rem;
    transform:rotate(4deg);
}

.galleryImg{
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.galleryImg img{
    transition: all 300ms ease-in-out;
}

.galleryImg img:hover{
    transform: translate(-3%,3%) scale(1.2) rotate(5deg);
}

.responsiveTable{
    overflow: hidden;
    overflow-x: auto;
}

.contactForm{
    grid-column: span 2;
}

.contactForm .formGrid{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.formGroup{
    width: 100%;
    flex: 1 1 360px;
}

.formGroup label{
    display: block;
    margin-bottom: 1rem;
}

.formGroup input, .formGroup textarea{
    border: none;
    background: var(--whiteColor);
    padding: 1rem 1.5rem;
    font-size: 2rem;
}

body .fullWidth{
    width: 100%;
    flex: 1 1 100%;
}

.formGroup button{
    border: 0.2rem solid var(--whiteColor);
    background: none;
    color: var(--whiteColor);
    padding: 1.5rem 2rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.formGroup button:hover{
    background: var(--whiteColor);
    color: var(--primary-color);
}

.formGrid legend{
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.formGroup input:focus, .formGroup textarea:focus{
    box-shadow: 0 0 10px 2px var(--secondary-color);
}

.footer{
    text-align: center;
    font-size: 1.6rem;
}

.footer a{
    color: var(--primary-color);
}

.footer p{
    margin: 3rem;
}

.closeMenu{
    display: none;
}

.backToTop{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--whiteColor);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    transform: rotate(-90deg);
    border: 0.1rem solid var(--primary-color);
}

@media (max-width: 800px){
    .homeContent, .grid{
        grid-template-columns: 1fr;
    }
    .galleryImg{
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }
    .galleryImg img{
        width: 100%;
    }
    .gridOneContent{
        display: block;
    }
    .menu{
        bottom: 0;
        text-align: center;
    }
    .menuContent, .menuContent ul{
        flex-direction: column;
        height: 100vh;
    }
    .menuContent{
        margin-top: 15vh;
        justify-content: center;
    }
    .menu{
        display: none;
    }
    .closeMenu{
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
    }
    .closeMenuLabel::after{
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background-color: var(--primary-color);
        color: var(--whiteColor);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }
    .closeMenu:checked~.menu{
        display: block;
    }
    .closeMenu:checked~.closeMenuLabel::after{
        display: block;
        content: '×';
    }
    .menuSpacing{
        display: none;
    }
}